*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

hs_err_pid*
/ChatIRCLibrary/build/
/ChatIRCLibrary/dist/
/CapaNegocio/build/
/ChatIRC/ChatIRC-war/build/
/ChatIRC/build/
/ChatIRC/ChatIRC-war/dist/
/CapaNegocio/dist/
/ChatIRC/dist/
/WebSocketChat/dist/